/* FONTS */
@import url("/font/San Francisco/SF.css"); /* San Francisco */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /* Roboto */

:root{
	--main-font: 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
	--titolo-principale: 12em;
	--titoli-paragrafi: 6em;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 14px;
  }
  
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
	border: solid 4px transparent;
  }
  
  ::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 14px 14px #666;
	border: solid 3px transparent;
	border-radius: 14px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 14px 14px #909090;
  }
  
  ::-webkit-scrollbar-button {
	display: none;
  }
  

body{
	font-family: var(--main-font);
	margin: 0 auto;
    max-width: 1920px;
    padding: 0 22px;
    padding-left: max(22px,env(safe-area-inset-left));
    padding-right: max(22px,env(safe-area-inset-right));
	overflow-x: hidden;
}

.container100vh{
	font-family: var(--main-font);
	height: 100vh;
}

.main-title-container-out{
	display: flex;
	align-items: end;
	justify-content: left;
	overflow: hidden;
}

.main-title-container{
	font-size: 17vw;
	line-height: 0.85em;
	font-weight: 700;
	
}

.nav-link{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 30px;
	right: 30px;
	height: 25px;
	text-decoration: none;
	color: black;
	z-index: 0;
}

.nav-link span:hover{
	text-decoration: underline;
}

.nav-link img{
	height: 100%;
	padding-right: 3px;
}

.b-2-btn-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 25px;
	text-decoration: none;
	color: black;
}

.b-2-btn{
	height: 100%;
	border-radius: 25px;
	background: url(../img/blu-camouflage.jpg);
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.b-2-btn img{
	height: 90%;
	padding-right: 5px;
}



/*************************************/

.containerParagrafi{
	/*border: 3px solid red; /*bordo per gestire spazi*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 1% 15% 1% 0%;
}

.sfondo_paragrafi{
	z-index: 1;
	position: absolute;
	width: 90%;
}

.paragrafo{
	/*border: 3px solid blue;
	/*bordoperspazi*/z-index: 2;
	align-self: center;
	width: 90%;
	margin-top: 2.5%;
	display: column;
	flex-direction: row;
	border-left: 10px solid black;
	border-image: linear-gradient(#3c59a3, #ffa572) 30;
}

.titolo_paragrafo{
	/*border: 3px solid green;/*bordo per festire spazi*/
	width: 99%;
	margin-left: 1%;
	font-size: var(--titoli-paragrafi);
}

.content_paragrafo{
	display: flex;
	flex-direction: row;
	min-height: 20vh;
}

.content{
	/*border: 3px solid pink;/*bordo per gestire spazio*/
	width: 45%;
	margin: 2% 5% 0% 0%;
	font-weight: 700;
	margin-left: 2%;
	font-size: 125%;
}

.immagine{
	display: flex;
	justify-content: center;
	/*border: 3px solid purple;/*bordo per gestire spazio*/
	width: 50%;
	margin: 2% 0% 0% 0%;
	align-content: center;
	align-items: center;
}

.immagine_paragrafo{
	width: 100%;
	padding: 2% 2% 2% 2%;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	/*border: 3px solid orange;/*bordo per gestire spazio*/
}

b{
	color:red;
}

/***********************************/
.containerMod3D{
	/*border: 3px solid red ;*/
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80vh;
	margin: 5% 0% 0% 0%;
	align-items: flex-start;
}

.titolo-mod-3d{
	/*border: 3px solid blue;*/
	font-size: 9vw;
	font-weight: 900;
	width: 60%;
}

.modello-3D{
	align-self:flex-end;
	float: right;
	position: absolute;
	/*border: 3px solid purple;*/
	width: 100%;
	height: 90vh;
	margin-left: 10%;
}
