/** SAN FRANCISCO DISPLAY FONT FAMILY **/

/** Ultra Light */
@font-face {
	font-family: "San Francisco";
	font-weight: 100;
	src: url("sanfranciscodisplay-ultralight-webfont.woff");
  }
  
  /** Thin */
  @font-face {
	font-family: "San Francisco";
	font-weight: 200;
	src: url("sanfranciscodisplay-thin-webfont.woff");
  }
  
  /** Regular */
  @font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("sanfranciscodisplay-regular-webfont.woff");
  }
  
  /** Medium */
  @font-face {
	font-family: "San Francisco";
	font-weight: 500;
	src: url("sanfranciscodisplay-medium-webfont.woff");
  }
  
  /** Semi Bold */
  @font-face {
	font-family: "San Francisco";
	font-weight: 600;
	src: url("sanfranciscodisplay-semibold-webfont.woff");
  }
  
  /** Bold */ 
  @font-face {
	font-family: "San Francisco";
	font-weight: 700;
	src: url("sanfranciscodisplay-bold-webfont.woff");
  }